/HelloWorld/bin/
/packages/
/HelloWorld/obj/
*/bin/
*/obj/

/.idea/.idea.TestCC/.idea/contentModel.xml
/.idea/.idea.TestCC/.idea/modules.xml
/.idea/.idea.TestCC/.idea/projectSettingsUpdater.xml
/.idea/.idea.TestCC/.idea/workspace.xml
